root = true
# http://editorconfig.org

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

# ReSharper properties
resharper_csharp_wrap_lines = false
resharper_default_private_modifier = implicit
resharper_keep_existing_attribute_arrangement = true
resharper_max_attribute_length_for_same_line = 180
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_field_attribute_on_same_line = false

[*.md]
trim_trailing_whitespace = false

[*.cs]
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true
csharp_brace_style = end_of_line

resharper_csharp_braces_for_ifelse = required
resharper_csharp_for_built_in_types = use_var
resharper_csharp_for_simple_types = use_var
resharper_csharp_for_other_types = use_var
resharper_csharp_align_multiline_parameter = true
resharper_csharp_arguments_skip_single = true
resharper_csharp_trailing_comma_in_multiline_lists = false

resharper_csharp_place_abstract_accessorholder_on_single_line = true
resharper_csharp_place_simple_blocks_on_single_line = true
resharper_csharp_place_simple_declaration_blocks_on_single_line = true
resharper_place_abstract_accessorholder_on_single_line = true
resharper_place_simple_blocks_on_single_line = true
resharper_place_simple_declaration_blocks_on_single_line = true
